---
import Hero from "@/components/Hero.astro"
import Layout from "../layouts/layout.astro"
import SectionContainer from "@/components/SectionContainer.astro"
---

<Layout title="Pagina de inicio">
	<main class="">
		<SectionContainer id="incio">
			<Hero />
		</SectionContainer>
	</main>
</Layout>
